
<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item"
            [routerLink]="['/products', prod.pid]"
            [class.active]="selectedUserId === prod.pid"  
            *ngFor="let prod of productArray">
                {{prod.pname}}
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <!-- <app-product></app-product> -->
     
        <!-- <button class="btn btn-primary my-4" (click)="onUserClick()">Go to Users</button> -->

        <!-- <a routerLink="/users" class="btn btn-primary mx-4">Go To users template</a> -->
        <mat-icon aria-hidden="false" [routerLink]="['/']" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </div>
</div>


<!-- // [ngClass]="{active: selectedUserId === prod.pid }" -->

<!-- Routing Path

curent Url >> https://localhost:4200/products
   baseUrl >> https://localhost:4200

Absolute Path: when we use '/'      >> baseUrl/users>> https://localhost:4200/
Relative Path: when we don't use '/'>> current/users>> https://localhost:4200/products/users

-->